html, body {
    

    height: 100%;
  }
  
  .full-height {
    height: 100%;
  }
 
body{
    /* text-align: center; */
    background-image:url(./image/how-to-roast-coffee-beans.jpeg) ;
    background-repeat: no-repeat;
    height: 100vh ;
    background-size: 100% 100%;

}  





img{
    width: 300px;
    height: 300px;
    
}


.basic{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.french-press{
    background-image: url(./image/th\ \(3\).jpg);
}