
    

  
 
body{
    height: 100%;
    text-align: center;
    background-image:url(./image/how-to-roast-coffee-beans.jpeg) ;
    background-repeat: no-repeat;
    
    background-size: 100% 100vh;

}  

h1{
    font-weight: 900;
    font-size: 6vh;

}




img{
    width: 25vh;
    height: 25vh;
    
}




.french{
    height: 85vh;
    width: 65vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: 8px 8px 8px white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around ;
    align-items: center ;
}

h2{
    font-weight: 900;
    font-size: 4vh;
}

h3{
  font-weight: 750;
  font-size: 3.4vh;  
}
p{
    font-weight: 540;
    font-size: 2.4vh;
}

.video{
    width: 200px;
    height: 110px;
}

.container {
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
  }

  button{
      background-color: dc2f02 ;
  }

  .img{
      margin-top: 20px;
      margin-bottom: auto;
      margin-right: 10px;
     }